
.hero {
    background-color: var(--helper-color-secondary);
    &__row {
        display: flex;
        align-items: center;
    }

    &__info {
        background-color: var(--helper-color-light);
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-end;
        padding: 65px;
        min-height: 610px;
        border-right: 13px solid var(--helper-color-danger);
    }
    &__desc {
        max-width: 510px;
    }
    &__title {
        font-size: 44px;
        color: var(--color-light);
        line-height: 125%;
        &:not(:last-child) {
            margin-bottom: 28px;
        }
    }
    &__image {
        flex: 0 0 58.5%;
        padding: 0px 50px;
    }
}


.stat {
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--helper-color-secondary);
        padding: 60px 110px;
        border-radius: 15px;
        overflow: hidden;
    }
    &__item {
        &:not(:last-child) {
            border-right: 1px solid rgba(0, 0, 0, 0.2);
            padding-right: 45px;
        }
        font-size: var(--size-secondary);
    }
    &__number {
        font-size: 40px;
        font-weight: 800;
        color: var(--color-any);
        margin-bottom: 12px;
        line-height: 120%;
    }
}


.about {

    &__row {
        display: flex;
        align-items: flex-start;
    }
    &__image {
        position: relative;
        flex: 0 0 48.5%;
        padding-bottom: 33.98%;
        margin-right: 150px;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__info {
        flex: 1 1 auto;
    }
    &__desc {
        margin-bottom: 33px;
    }
    &__item {
        p {
            line-height: 140%;
        }
        &:not(:last-child) {
            margin-bottom: 27px;
        }
    }
    &__title {
        color: var(--color-any);
        font-weight: 800;
        font-size: 25px;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}
.product {
    &__btn {
        display: flex;
        margin: 0 auto;
    }
}