/* Global Style main */
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    margin-top: 114px;
    &--page {
        margin-top: 195px;
    }
}

.main {
    flex-grow: 1;
}

.container{
    width: 100%;
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
}
.logo {
    display: block;
    color: var(--color-any);
    text-transform: uppercase;
    span {
        color: #dc0000;
    }
    img {
        max-width: 100%;
    }
}
img {
    max-width: 100%;
}
.body-lock {
    overflow: hidden;
}
//! Components big
.title {
    font-weight: var(--title-weight-primary);
    color: var(--title-color-primary);
    font-size: 42px;
    line-height: 120%;
}
.ind-small {
    margin-bottom: 40px;
}
.ind-big {
    margin-bottom: 70px;
}
.ind-medium {
    margin-bottom: 50px;
}
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 291px;
    text-align: center;
    padding: 18px 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    transition: var(--transition);
    flex-shrink: 0;
    border-radius: 10px;
    will-change: transform;
}
.head {
    font-weight: 700;
    font-size: var(--size-secondary);
    color: #1b1b1b;
    & > *:not(:last-child) {
        margin-bottom: 11px;
    }
}
.btn--primary {
    background-color: #000000;
    color: #ffffff;
    &:hover {
        background-color: #272121;
    }
    &:active {
        transform: scale(0.99);
    }
}
.btn--secondary {
    background-color: #ffffff;
    color: #000000;
    &:hover {
        background-color: #d8d5d5;
    }
    &:active {
        transform: scale(0.99);
    }
}

//! Components big end

//! Components small 
.hidden {
    overflow: hidden;
}
.error {
    border: 2px #ff4019 solid !important;
}
.btn-reset {
    border: none;
    background: transparent;
    cursor: pointer;
}
//! Components small end 