//? width query
$breakpoints-1: 1200px;
$breakpoints-2: 992px;
$breakpoints-3: 767px;
$breakpoints-4: 575px;

:root {
    //? Colors
    --color-primary: #292929;
    --color-secondary: #565656;
    --color-light: #ffffff;
    --color-any: #0047ff;
    --color-silver: rgba(0, 0, 0, 0.5);
    --bg-main-color: #e4e4e4;


    //? Helper color 
    --helper-color-primary: #00be6e;
    --helper-color-light: #0047ff;
    --helper-color-secondary: #ffffff;
    --helper-color-danger: #eb0000;

    //? FontFamily 
    --font-primary: 'Montserrat', sans-serif;
    --font-wprimary: 400;

    //? Title colors
    --title-color-primary: #222222;
    --title-weight-primary: 700;
    
    //? Size font
    --size-primary: 18px;
    --size-secondary: 20px;
    @media(max-width: $breakpoints-3) {
        --size-primary: 16px;
        --size-secondary: 18px;
    }
    //? Any components
    --transition: all .3s ease;
}

